.skills_container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #01bf71;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../public/Svg-2.svg");
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.content_wrapper {
  display: flex;
  flex-flow: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  /* padding: 20px; */
  margin-top: 20px;

  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
    -6px -6px 10px -1px rgba(255, 255, 255, 0);
}
.skills_heading {
  color: #01bf71;
  font-size: 38px;
  text-align: center;
}
.sub_text {
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
  color: #000;
  font-weight: 600;
}
.skills_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.skills_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid #01bf71;
  border-radius: 10px;
  height: 60px;
  width: fit-content;
}
.skill_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 14px 18px;
  border-right: 2px solid #01bf71;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.skill_item:last-child {
  border-right: none;
}
.skill_item_active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 14px 18px;
  background: #01bf71;
  color: #fff;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Circles CSS*/
.wrapper2 {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.list_skills_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70%;
}
.image_wrapper {
  width: 100%;
}
.svgImage {
  width: 100%;
}
.heading_wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.motiondiv {
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;

  align-content: center;
  flex-flow: column;
}
@media screen and (max-width: 1150px) {
  .list_skills_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills_wrapper {
    height: 45px;
    padding: auto;
  }
  /* .skills_container {
    height: 700px;
  } */
  .content_wrapper {
    margin-top: 0;
    max-height: 1000px;
  }
}

@media screen and (max-width: 968px) {
  .content_wrapper {
    padding-top: 0px;
  }
  .list_skills_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .motiondiv {
    display: flex;
    align-items: start;
  }
}
@media screen and (max-width: 768px) {
  .list_skills_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
@media screen and (max-width: 568px) {
}
