.footer_wrapper {
  height: 150px;
  width: 100%;
  background: #3f3d56;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 10px;
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
/* .footer_title {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 18px;
} */
.icon_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.icon_container:hover {
  background: #a8bdb452;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(1, 193, 113, 1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(1, 193, 113, 1);
  box-shadow: 0px 0px 100px 0px rgba(1, 193, 113, 1);
  transition: 0.8s ease;
}
.copyEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px;
}
.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 12px 15px;
  width: 280px;
  display: flex;
  align-items: center;
  font-size: 18px;
  background: #a8bdb452;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
}
.inputdiv {
  position: relative;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.clickToCopy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #54c594;
  width: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.input_wrapper > .clickToCopy {
  font-size: 0px;
}
.input_wrapper:hover .clickToCopy {
  padding: 10px 15px;
  width: 280px;
}
.footer_title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  /* border-bottom: 3px solid #01bf71; */
  text-align: center;
  border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(to right, #00ff00 0%, #00cc99 100%);
  -webkit-border-image: -webkit-linear-gradient(
    to right,
    #00ff00 0%,
    #00cc99 100%
  );
  border-image: linear-gradient(to right, #00ff00 0%, #00cc99 100%);
  border-image-slice: 1;
}
@media screen and (max-width: 300px) {
  .input {
    width: 200px;
  }
}
.copyIcon {
  border: none;
  background: #000;
  height: 44px;
  width: 43.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.input_clicked {
  padding: 10px 15px;
  width: 280px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #7ac9a7b0;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
@media screen and (max-width: 968px) {
  .footer_wrapper {
    /* margin-top: 70px; */
  }
}
