.btn {
  position: relative;
  width: 150px;
  padding: 10px 0;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  border: 2px solid #01bf71;
  background: transparent;
  color: #01bf71;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border-radius: 50px;
  outline: none;
  border: 1px solid #01bf71;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background: none;
  white-space: nowrap;
  padding: 10px 30px;
  font-size: 16px;
  color: #01bf71;
  z-index: 10; */
}
.spanElement {
  width: 0;
  height: 100%;
  background: #01bf71;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover span {
  width: 100%;
}
.btn:hover {
  color: #fff;
}
.spanElement:hover {
  border: none;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icon {
  margin-right: 7px;
}
