.calltoactionContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../public/Svg-2.svg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.btn {
  position: relative;
  width: 200px;
  padding: 15px 0;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  border: 2px solid #000;
  background: transparent;
  color: #000;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: center;
  z-index: 2;
  /* border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background: #000;
  white-space: nowrap;
  padding: 14px 48px;
  font-size: 20px;
  color: #fff;
  z-index: 10; */
}
.spanElement {
  width: 0;
  height: 100%;
  background: #000;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover span {
  width: 100%;
}
.btn:hover {
  color: #fff;
}
.spanElement:hover {
  border: none;
}
