.btn {
  position: relative;
  width: 250px;
  padding: 10px 0;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  border: 2px solid #01bf71;
  background: transparent;
  color: #01bf71;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  /* border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  z-index: 10;
  width: 100%; */
}
.spanElement {
  width: 0;
  height: 100%;
  background: #01bf71;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover span {
  width: 100%;
}
.btn:hover {
  color: #fff;
}
.spanElement:hover {
  border: none;
}
.logintext {
  color: #fff;
  font-size: 13px;
}
.loginspan {
  margin-left: 5px;
}
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01bf71;
  text-decoration: underline;
}
.alertdiv {
  color: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  color: red;
  font-size: 12px;
}
