.card_wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  width: 80%;
  padding: 15px;
  margin-top: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 320px;
  height: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(65, 64, 64, 0.8);
}

@media screen and (max-width: 968px) {
  .card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    justify-items: center;
    align-items: center;
  }
  .info {
    width: 280px;
    height: 350px;
  }
}
